.main__container {
    width: 60px !important;
    height: 60px !important;
    border-radius: 50% !important;
    /* background-color: var(--primary-color) !important; */
    color: white !important;
    font-size: 2rem !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    position: fixed !important;
    bottom: 20px !important;
    right: 20px !important;
    cursor: pointer !important;
    z-index: 99999 !important;
    font-family: 'Montserrat' !important;

}
.fab{
    background-color : #502CA5 !important ;
    color : #fff !important;
    opacity: 0.6 !important;
    z-index: 99999 !important;

}
.icon{
  width:  40px  !important;
  height: 40px !important;
}