.geoLocationChip {
  padding: "5px" !important;
}

.readMore {
  color: "grey" !important;
}

.box {
  display: flex !important;
  flex-direction: column !important;
}
.boxtypo {
  display: flex !important;
  /* justify-content: space-around !important; */
  margin-bottom: 21px !important;
  background-color: red !important;
  margin-left: auto !important;
  order: 2 !important;
}
.btext {
  width: 100% !important;

  height: 90px !important;
  /* background-color: aqua !important; */
  font-family: "Montserrat" !important;
  font-size: 12px !important;
  text-align: left !important;
  vertical-align: top !important;
  font-weight: 400 !important;
  font-style: italic !important;
  text-transform: none !important;
  letter-spacing: 0.4780488px !important;
  color: #000000 !important;
  word-wrap: break-word !important;
  overflow: hidden !important;
  overflow-wrap: break-word !important;
}

.btextpara {
  width: 100% !important;
  height: 200px !important;
  font-family: "Montserrat" !important;
  font-size: 12px !important;
  text-align: left !important;
  vertical-align: top !important;
  font-weight: 500 !important;
  font-style: italic !important;
  text-transform: none !important;
  letter-spacing: 0.4780488px !important;
  color: #000000 !important;
  word-wrap: break-word !important;
  word-break: keep-all !important;
  padding: 10px !important;
  overflow: hidden !important;
}
.btextpara2 {
  width: 100% !important;
  height: fit-content !important;

  font-family: "Montserrat" !important;
  font-size: 12px !important;
  text-align: left !important;
  vertical-align: top !important;
  font-weight: 500 !important;
  font-style: italic !important;
  text-transform: none !important;
  letter-spacing: 0.4780488px !important;
  color: #000000 !important;
  word-wrap: break-word !important;
  word-break: keep-all !important;
  /* padding: 10px 10px 0px 10px !important; */
  /* overflow: visible !important; */
}
.btextpara3 {
  width: 100% !important;
  font-family: "Montserrat" !important;
  overflow-y: auto !important;
  font-size: 12px !important;
  text-align: left !important;
  vertical-align: top !important;
  font-weight: 500 !important;
  font-style: italic !important;
  text-transform: none !important;
  letter-spacing: 0.4780488px !important;
  color: #000000 !important;
  word-wrap: break-word !important;
  word-break: keep-all !important;
  /* padding: 10px 10px 0px 10px !important; */
  /* overflow: visible !important; */
}
@media screen and (max-width: 768px) {
  .btextpara {
    display: none !important;
  }
  .btextpara2 {
    display: block !important;
    height: fit-content !important;
  }

  .btextpara3 {
    display: block !important;
    max-height: 198px !important;
    overflow-y:scroll !important ;
  }
}
