.toggleButton {
  background-color: #d8d8d8 !important;
  color: black !important;
  border-width: 0px !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px !important;
  height: 40px !important;
  border-radius: 10px !important;
  text-align: left !important;
  width: 100% !important;
  margin-bottom: 1rem !important;
}

.toggleButtonPadding {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.colPadding {
  padding: 10px !important;
}
.accordionsummary {
  font-family: "Montserrat"   !important;
  font-size: 16px  !important;
  text-align: left  !important;
  vertical-align: top  !important;
  font-weight: 700  !important;
  text-transform: none  !important;
  letter-spacing: 0.5463415px  !important;
  color: #000000  !important;
  background-color: #d8d8d8  !important;
  border: 1px solid #979797  !important;
  border-width: 1px  !important;
  box-shadow: 0px 2px 4px 0 #00000080  !important;
  border-radius: 13px  !important;
  margin-top: 21px  !important;
}
.accordionactions {
  height: 100%  !important;
  background-color: #ffffff  !important;
  border-radius: 6px  !important;
  /* vertical-align: baseline  !important; */
  align-items: baseline  !important;
}
@media only screen and (min-device-width: 250px) and (max-device-width: 700px) {
  .grid {
    display: flex  !important;
    flex-direction: column  !important;
    width: 100%  !important;
    height: 100%  !important;
    /* align-items: center  !important; */
    /* padding-left: 4%  !important;
   padding-right: 4%  !important; */

    /* justify-content: space-between  !important; */
  }


  .day {
    width: 320px  !important;
  }
}
.datepicker {
  width: 100%  !important;
  height: 100%  !important;
  box-shadow: 0px 2px 23px 0 #ededed !important;
  border-radius: 6px !important;
  /* width :100px  !important;
  height: 100px  !important; */
}
.day {
  width: 100% !important;
  height: 100% !important;
  background-color: #ffffff !important;
  display: flex !important;
  flex-direction: column !important;
}
.grid {
  width: 100%  !important;
  height: fit-content  !important;
  overflow-y: auto  !important;
}
.showpickerdesk {
  display: block !important;
}
.showpickermobile{
  display: none !important;
}
@media screen and (max-width: 768px) {
  .accordionsummary {
    font-size: 12px  !important;
  }
  .grid {
    width: 100%  !important;
    height: fit-content  !important;
    overflow-y: visible  !important;
  }
  .showpickerdesk {
    display: none !important;
  }
  .showpickermobile{
    display: block !important;
  }
}
