.card__container {
    padding: 20px !important;
    margin: 0 auto !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    font-family: 'Montserrat' !important;

}

.card__icon__div {
    background-color: var(--primary-color) !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 20px !important;
    margin: 10px 0 20px !important;
    border-radius: 50% !important;
    color: #e8e8e8 !important;
    font-size: 40px !important;
    font-family: 'Montserrat' !important;

}


.card__text {
    text-align: center !important;
    font-size: 0.9rem !important;
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Montserrat' !important;


}